@import "tailwindcss";

:root {
  /* Farben Moritz */
  --color-sand: #F3EEE7;
  --color-sage: #7E8F7B;
  --color-dark: #1A1A1A;
  --color-text: #4D4D4D;
}

/* Basis */
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-sand);
  color: var(--color-dark);
  font-family: var(--font-montserrat), sans-serif;
}

/* Typografie System */
h1, h2, h3, h4 {
  font-family: var(--font-playfair), serif;
}

/* kleine Verbesserungen */
p {
  line-height: 1.7;
}

a {
  text-decoration: none;
}